/* Basic Reset */
.dropdown,
.dropdown * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dropdown Container */
.dropdown {
  position: relative;
}

/* Dropdown Button */
.dropdownToggle {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 8px;
  display: flex;
  align-items: center;
  /*gap: 8px;*/
}

.dropdownToggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* Arrow */
.arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

/* Dropdown Menu */
.dropdownMenu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  animation: slideDown 0.5s ease forwards;
  margin-top: 8px;
  z-index: 1000;
}
.dropdownItemli{
  color: blue;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Dropdown Items */
.dropdownItem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .dropdownMenu {
    width: 100%;
  }
}
