.container {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 600px;
}

.heading,
.paragraph {
  font-family: 'GulzarR', sans-serif;
  font-size: 1.25rem;
  color: #555;
  line-height: 1.6;
  user-select: text; 
}
